<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Control de productos</title>
<!-- Enlace a Bootstrap para mejorar la apariencia de la página -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

<!-- Barra de navegación -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Control de productos</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/nuevo">Agregar producto</a></li>
				</ul>

			</div>
		</div>
	</nav>
<!-- Formulario de búsqueda de productos -->
	<br>
	<div class="container text-center">
		<form class="form-inline" th:action="@{/}">
			<div class="form-group mb-2">
				<label>Filtrar:</label>
			</div>

			<div class= "form-group mx-sm-3 mb-2">
				<input type="text" name="palabraClave" class="form-control"
				id="palabraClave" th:value="${palabraClave}"
				placeholder="Digite el valor a buscar" required>	
			</div>
			
			<div>
			<input type="submit" class="btn btn-info mb-2" value="Buscar">
			&nbsp;&nbsp;
			<input type="button" class="btn btn-secondary mb-2" value="limpiar" onclick="limpiarCampos()">
			</div>
		</form>
		<br>
			<!-- Tabla para mostrar la lista de productos -->
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${listaProductos}">
					<td th:text="${producto.id}"></td>
					<td th:text="${producto.cantidad}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.precio}"></td>
					<td><a class="btn btn-primary"
						th:href="@{/editar/{id}(id=${producto.id})}">Editar</a> &nbsp; <a
						class="btn btn-danger"
						th:href="@{/eliminar/{id}(id=${producto.id})}">Eliminar</a></td>
				</tr>

			</tbody>
		</table>

	</div>
  <!-- Script para limpiar el filtro de búsqueda -->
    <script type="text/javascript">
    function limpiarCampos(){
    	window.location= '/'; 
    }
    </script>

</body>
</html>